<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Herbal ID | Tell every about herbals</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="static/style.css" rel="stylesheet" />
    <link href="static/color-picker.css" rel="stylesheet" />
  </head>
  <link href="static/drawingboard.min.css" rel="stylesheet" />

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script src="static/drawingboard.min.js" type="text/javascript"></script>

  <body>
    <!-- Navigation -->

    <style>
      #zbeubeu {
        width: 400px;
        height: 600px;
      }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark static-top dark-background">
      <div class="container">
        <a class="navbar-brand rubik branding" href="#">Herbal Identification {{ ViThuoc }}</a>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col">
            <img class="image" src="" height="100%" width="100%" id="image" />
          </div>
          <div class="col" id="container_col"><div id="zbeubeu"></div></div>
        </div>
        <p class="tips rubik"></p>
      </div>
    </div>

    <!-- <input type="file" name="img_uploaded" id="img_uploaded" accept="image/*" onchange="upload();">  -->
    <form enctype="multipart/form-data" action="/upload" method="post" id='form_uploadimage'>
    <input type="file" name="img_uploaded" id="img_uploaded" accept="image/*" onchange="upload();">
    </form>


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

  <script type="text/javascript" src="static/index.js"></script>
</html>
